@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Background Section */
.for_background {
    background-color: rgb(116, 198, 157);
}

/* Main Container */
.container {
    max-width: 1440px;
    margin: auto;
    padding: 35px 132px 35px 133px;
}

/* Header Section */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

ul {
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: "Work Sans", sans-serif;
    text-align: right;
    text-decoration: none;
}

.a1 {
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: "Work Sans", sans-serif;
    text-align: right;
    text-decoration: none;
}

/* Works Section */
.container2 {
    max-width: 1440px;
    margin: auto;
    margin: 30px 0 87px 0;
    padding: 0 132px 0 133px;
}

.works_div {
    text-align: center;
}

.works_div span {
    color: rgb(116, 198, 157);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
}

.works_div h1 {
    color: rgb(0, 0, 0);
    font-family: Crimson Text;
    font-size: 40px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 0px;
    text-align: center;
    margin: 16px 0;
}

.works_div p {
    color: rgb(0, 0, 0);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 87px;
}

/* Sites Section */
.container3 {
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 132px 0 133px;
    gap: 55px;
    margin-bottom: 184px;
}

.container3 .sites {
    width: 560px;
    border-radius: 5px;
}

.container3 .sites img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer Section */
footer {
    max-width: 1440px;
    height: 125px;
    margin: auto;
}

@media (max-width: 375px) {

    .container {
        padding: 20px;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    ul {
        flex-direction: column;
        gap: 15px;
    }

    .container2, .container3 {
        padding: 0 20px;
    }

    .works_div h1 {
        font-size: 30px;
    }

    .works_div p {
        font-size: 14px;
    }

    .container3 {
        flex-direction: column;
        gap: 20px;
    }

    .container3 .sites {
        width: 100%;
    }
}