@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Background Section */
.for_background {
    background-color: rgb(116, 198, 157);
}

/* Main Container */
.container {
    max-width: 1440px;
    margin: auto;
    padding: 35px 132px 35px 133px;
}

/* Header Section */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

ul {
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: "Work Sans", sans-serif;
    text-align: right;
    text-decoration: none;
}

.a1 {
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: "Work Sans", sans-serif;
    text-align: right;
    text-decoration: none;
}

/* Plans Section */
.container2 {
    max-width: 1440px;
    margin: auto;
    margin: 35px 0 78px 0;
    padding: 0 132px 0 133px;
}

.plans_div {
    text-align: center;
}

.plans_div span {
    color: rgb(116, 198, 157);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
}

.plans_div h1 {
    color: rgb(0, 0, 0);
    font-family: Crimson Text;
    font-size: 40px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 0px;
    text-align: center;
    margin: 16px 0;
}

.plans_div p {
    color: rgb(0, 0, 0);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 87px;
}

/* Main Section */
main {
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main .cost {
    box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
    padding: 46px 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 339px;
}

main .cost h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0px;
}

.narx_oy_div {
  display: flex;  
  width: 159px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 9px;
  margin: auto;
  margin-bottom: 10px;
}

main .cost .narx_oy_div span {
    color: rgb(0, 0, 0);
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 125%;
}

main .cost .narx_oy_div p {
    color: rgb(0, 0, 0);
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 125%;
}

main .cost p {
    color: rgba(33, 37, 41, 0.5);
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0px;
    text-align: center;
}

i {
    color: rgb(116, 198, 157);
    position: absolute;
    font-size: 25px;
    left: 30px;
}

main .cost ol {
    list-style: none;
    margin: 52px 0 48px 35px;
    color: rgb(33, 37, 41);
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0px;   
}

main .cost button {
    background-color: rgb(33, 37, 41);
    padding: 12px 29.5px;
    margin: auto;
    border-radius: 5px;
    outline: none;
    border: none;
}

main .cost button a {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0px;
    text-align: center;
    text-decoration: none;
}

/* Footer Section */
footer {
    padding: 51px 131px 42px 131px;
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 135px;
}

.logos2 {
    display: flex;
    gap: 20px;
}

.learn_more_more {
    padding: 12px 29px;
    background-color: black;
    margin-top: 25px;
}

@media (max-width: 375px) {

    .container {
        padding: 20px;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    ul {
        flex-direction: column;
        gap: 15px;
    }

    .container2, main {
        padding: 0 20px;
    }

    .plans_div h1 {
        font-size: 30px;
    }

    .plans_div p {
        font-size: 14px;
    }

    main {
        flex-direction: column;
        gap: 20px;
    }

    main .cost {
        width: 100%;
    }

    footer {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
}